html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #111;
}

canvas {
    display: block;
    background: #66cdc8;
}

#game {
    width: 100vw;
    height: 100vh;
}