/* Pastel rainbow */
:root {
  --powder-blush: #ffadad;
  --apricot-cream: #ffd6a5;
  --lemon-chiffon: #fdffb6;
  --tea-green: #caffbf;
  --soft-cyan: #9bf6ff;
  --baby-blue-ice: #a0c4ff;
  --periwinkle: #bdb2ff;
  --mauve: #ffc6ff;

  --game-width: 1200;
  --game-height: 760;
}

/* Moderate rainbow */
/* :root {
  --coral-blush: #fb7b77;
  --apricot-gold: #fdc170;
  --lemon-glow: #f3f87f;
  --fresh-green: #98f786;
  --bright-cyan: #69ebfc;
  --sky-blue: #6d9efc;
  --vivid-periwinkle: #937df8;
  --bright-mauve: #f78ef0;
} */

/* Bright rainbow */
/* :root {
  --powder-blush-dark: #fb7b77;
  --apricot-cream-dark: #fdc170;
  --lemon-chiffon-dark: #f3f87f;
  --tea-green-dark: #98f786;
  --soft-cyan-dark: #69ebfc;
  --baby-blue-ice-dark: #6d9efc;
  --periwinkle-dark: #937df8;
  --mauve-dark: #f78ef0;
} */

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  background: var(--baby-blue-ice);
}

/* to implement */
/* body {
  background: linear-gradient(
    40deg,
    var(--powder-blush) 0%,
    var(--apricot-cream) 14%,
    var(--lemon-chiffon) 28%,
    var(--tea-green) 42%,
    var(--soft-cyan) 57%,
    var(--baby-blue-ice) 71%,
    var(--periwinkle) 85%,
    var(--mauve) 100%
  );
} */

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    display: block;
    width: min(100vw, calc(100vh * var(--game-width) / var(--game-height)));
    height: min(100vh, calc(100vw * var(--game-height) / var(--game-width)));
    aspect-ratio: var(--game-width) / var(--game-height);
}
